:root {
  --font-large: 18px;
  --font-size: 14px;
  --color-pink: #14496d;
  --color-black: #212121;
  --color-white: #faf8f8;
  --padding-base: 8px;
  --border-radius: 18px;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: var(--color-pink);
  display: flex;
  text-align: center;
  align-items: column;
  height: 100vh;
}
h3{
  color:#faf8f8;
  padding-bottom: 20px;
}
.container {
  margin-top: 3rem;
}
#main {
  margin-top: 8px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.mainImg {
  padding: 20px;
  width: 50%;
  height: 50%;
}

.intro {
  font-size: var(--font-size);
  padding: var(--padding-base);

  margin-bottom: var(--padding-base);
}

.btn btn-outline-danger {
  padding: 8px;
  margin-bottom: 8px;
}
