#qna {
  display: none;
}

:root {
  --font-large: 18px;
  --font-size: 14px;
  --color-pink: #053368;
  --color-black: #212121;
  --color-white: #dfe7fa;
  --color-lightpink: #bbbec2;
  --color-gray: #b8b4b4;
  --padding-base: 8px;
  --margin-base: 16px;
  --border-radius: 18px;
}

.qBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  border-radius: 20px;
  padding: var(--padding-base);
  margin-top: var(--margin-base);
  font-size: 20px;
  
}
.aBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  padding: var(--padding-base);
  margin: var(--margin-base);
}
.answerList {
  border-radius: 100px;
  justify-content: center;
  width: 100%;
  padding: var(--padding-base);
  margin: 10px auto;
}

.answerList:hover,
.answerList:focus {
  font-size: 110%;
  background-color: var(--color-lightpink);
}

.status {
  height: 5px;
  width: 90%;
  margin: 0 auto;
  /*colorzilla.com 사이트를 활용한 그라데이션*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
background: rgb(14, 106, 168); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */


  border-radius: 20px;
}

.statusBar {
  height: 100%;
  background-color: rgb(14, 106, 168);
  border-radius: 20px;
}
