#qna {
  display: none;
}

:root {
  --font-large: 18px;
  --font-size: 14px;
  --color-pink: #ff9e80;
  --color-black: #212121;
  --color-white: #fbe9e7;
  --color-lightpink: #ffd0b0;
  --color-gray: #a4a4a4;
  --padding-base: 8px;
  --margin-base: 16px;
  --border-radius: 18px;
}

.qBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: var(--padding-base);
  margin-top: var(--margin-base);
  font-size: 20px;
}
.aBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base);
  margin: var(--margin-base);
}
.answerList {
  border-radius: 20px;
  justify-content: center;
  width: 100%;
  padding: var(--padding-base);
  margin: 8px auto;
}

.answerList:hover,
.answerList:focus {
  font-size: 110%;
  background-color: var(--color-lightpink);
}

.status {
  height: 20px;
  width: 100%;
  /*colorzilla.com 사이트를 활용한 그라데이션*/
  background: #febbbb; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #febbbb 0%,
    #fe9090 45%,
    #ff5c5c 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #febbbb 0%,
    #fe9090 45%,
    #ff5c5c 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #febbbb 0%,
    #fe9090 45%,
    #ff5c5c 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

  border-radius: 20px;
}

.statusBar {
  height: 100%;
  background-color: var(--color-lightpink);
  border-radius: 20px;
}
